# Dépendances et données
/vendor/
/data/
composer.lock

# Installation Wordpress
/src/wp-cms/*

# Contenus Wordpress non versionnés
/src/wp-content/uploads/
/src/wp-content/plugins/
/src/wp-content/upgrade/
/src/wp-content/themes/*/.sass-cache
/src/wp-content/themes/*/node_modules

# Traduction
*.pot~
*.po~
*.mo

# Configuration
/config/*.properties
/src/wp-config*.php
.htaccess
desktop.ini