/**
 * BookBlock custom styles
 */

@import "main";


/*.bb-custom-grid article:before,
.bb-custom-grid article:after {
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  10px;
	width: 50%;
	height: 20%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}*/

/*.bb-custom-grid article:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}*/
