/**
 * Common styles
 *
 * 1.0 - Common
 *   1.1 - Generic
 *	 1.2 - Extras
 * 2.0 - Bootstrap grid custom
 * 3.0 - Twentyfifteen custom
 */


/**
 * 1.0 - Common
 */
/**
 * 1.1 - Generic
 */
.hidden {
 	display: none;
}

.sorting {
	float: right;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
    margin: 0 0 35px;

	select {
		font-family: "Noto Sans", sans-serif;
		font-size: 14px;
		cursor: pointer;
	}
}

/**
 * 1.2 - Extras
 */
.triangle {
	width: 0;
	height: 0;
}

.triangle-top-right {
    position: absolute;
    top: 0;
    right: 0;
	border-top: 30px solid #f45844;
	border-left: 35px solid transparent;
}

.tag-title {
	text-transform: lowercase;
	color: $link-hover-color;
	font-family: "Noto Sans", sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 30px;
}

.category-title {
	position: relative;
	padding-left: 26px;
	color: $link-hover-color;
	font-family: "Noto Sans", sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 30px;

	i {
	    position: absolute;
		top: 10px;
		left: 0;
		font-size: 22px;
	}
}

/**
 * 2.0 - Bootstrap grid custom
 */
@media screen and (min-width: 1200px) {
	.container {
	    width: 90%;
	}
}

@media screen and (min-width: 992px) {
	.container {
	    width: 90%;
	}
}

@media screen and (min-width: 768px) {
	.container {
	    width: 90%;
	}
}

/**
 * 3.0 - Twentyfifteen custom
 */
/**
 * 6.2 Menus
 */
.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
   color: $link-hover-color;
   font-weight: normal;
}

/**
 * 10.0 Header
 */
.custom-logo {
	display: block;
    max-width: 150px;
    border-radius: 150px;
}

/**
 * 16.4 Desktop Small 955px
 */
@media screen and (min-width: 59.6875em) {
	body:before {
		width: 22%;
	}

	.sidebar {
		width: 22%;
	}

	.site-header {
	    margin: 15% 0;
		padding: 0 10%;
	}

	.site-branding {
		text-align: center;
	}

	.custom-logo {
		margin: auto;
	}

	.main-navigation {
		margin: 0 10% 20%;
	}

	.widget {
		margin: 0 0 20%;
    	padding: 0 10%;
	}

	.site-main {
		padding-top: 4.5%;
		padding-bottom: 4.5%;
	}

	.site-content {
	    margin-left: 22%;
	    width: 78%;
	}
}

/**
 * 16.6 Desktop Large 1240px
 */
@media screen and (min-width: 77.5em) {
	.site-title {
		font-size: 18px;
		font-size: 1.8rem;
	}

	.site-description {
		font-size: 15px;
		font-size: 1.5rem;
	    margin: 0.1em 0 0;
	}

	.main-navigation a {
	    padding: 0.5em 0 0.5em 1em;
	}
}