/* Variables */

$text-color: black;
$text-color-light: #707070;
$link-hover-color: #f45844;

$thumbnail-bg-color: white;
$thumbnail-footer-bg-color: #F7F7F7;

$tab-inactive-bg-color: rgb(232, 232, 232); //#FFFFFF; //#E0E0E0;
$tab-inactive-color: #919191;
$tab-active-bg-color: white;

$base-font-size: 14px;
//$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
//$base-font-weight: 400;

//$title-font-family: "Arvo", "Open Sans", Helvetica, Arial, sans-serif;